<!DOCTYPE html>
<html ng-app="">
<head>
	<title>Növénybiztosítási ajánlat számítás</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body ng-controller="OfferController">
	<h1>Növénybiztosítási ajánlat számítás</h1>
	<select ng-model="plant" ng-options="p.name for p in plants"></select>
	<input type="number" ng-model="area" />
	<input type="number" ng-model="render" />
	<input type="number" ng-model="unitPrice" />
	<input type="checkbox" ng-model="hail" />
	<input type="checkbox" ng-model="frost" />
	<button ng-click="add()">Hozzáad</button>
	<table class="table">
		<thead>
			<tr>
				<th>Megnevezés</th>
				<th>Hasznosítási kód</th>
				<th>Termőterület (ha)</th>
				<th>Hozam (t/ha)</th>
				<th>Egységár (Ft/t)</th>
				<th>Termény értéke (Ft/ha)</th>
				<th>Biztosítási értéke (Ft)</th>
				<th>Jégeső díjtétel</th>
				<th>Fagy díjtétel</th>
				<th>Számított díj összesen (Ft)</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="offer in offers">
				<td>
					<select ng-model="offer.plant" ng-options="p.name for p in plants"></select>
				</td>
				<td>
					<p>{{offer.plant.code}}</p>
				</td>
				<td>
					<input ng-model="offer.area" />
				</td>
				<td>
					<input ng-model="offer.render" />
				</td>
				<td>
					<input ng-model="offer.unitPrice" />
				</td>
				<td>
					<p>{{getProductValue($index)}}</p>
				</td>
				<td>
					<p>{{getInsuranceValue($index)}}</p>
				</td>
				<td>
					<input type="checkbox" ng-model="offer.hail" />
					<p>{{getHailFee($index)}}</p>
				</td>
				<td>
					<input type="checkbox" ng-model="offer.frost" />
					<p>{{getFrostFee($index)}}</p>
				</td>
				<td>
					<p>{{sumPrice}}</p>
				</td>
				<td>
					<button ng-click="remove($index)">Törlés</button>
				</td>
			</tr>
		</tbody>
	</table>
	<script src="js/angular.js" type="text/javascript"></script>
	<script src="js/insurance.js" type="text/javascript"></script>
</body>
</html>